@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";


header {
    text-align: center;
    background-color: #fff;
    color: #000;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
   
    background-image: url(https://www.teahub.io/photos/full/194-1945425_fondos-de-pantalla-minimalistas-para-pc.jpg);
    background-size: cover; /* Ajusta el tamaño del gif al tamaño del contenedor */
    margin: 0;
    padding: 0;
    height: 100vh;
    
}



#ejercicio_1{
    color: black;
    margin: 10px;
    padding: 10px;

}

#ejercicio_2{
    color: black;
    margin: 10px;
    padding: 10px;

}

#resultado{
    color: black;
    margin: 10px;
    padding: 10px;

}

table{
     border-collapse: collapse;
     width: 40%;
     border: 1px solid black;
     margin: 20px;
     padding: 10px;
     color: black;
}

th {
    border:1px solid black;
    color: black;
    padding: 8px;
    text-align: center;
}

td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    color:black
  }




/* Estilos para los elementos <li> */
.menu li {
    display: inline-block; /* Para que los elementos se muestren en línea */
    margin-right: 20px; /* Espaciado entre elementos */
}

/* Estilos para los enlaces <a> dentro de los elementos <li> */
.menu li a {
    text-decoration: none; /* Elimina la decoración de subrayado en los enlaces */
    color: #333; /* Color del texto del enlace */
    font-weight: bold; /* Peso de la fuente del enlace */
}

/* Estilo para el enlace <a> cuando se pasa el mouse sobre él */
.menu li a:hover {
    color:blue ; /* Cambia el color del texto del enlace al pasar el mouse */
}






