<h1>
    <a href="/appTareas">Express GuestBook</a>
    <% if (isLoggedIn) { %>
    <a href="appTareas/new-entry" class="btn btn-primary float-end" style="margin-top: 15px;">Write a GuestBook</a>
    <% } %>
    <% if (isLoggedIn) { %>
        <a href="/users/logout" class="btn btn-primary float-end ms-2" style="margin-top: 15px;">Salir</a>
    <% } %>
</h1>
<hr>